/* CSS declarations go here */

body {
	background-color: #000;
}

.mainsection {
	text-align: center;
	color: #551010;
	font-size:4em;
	font-family: "Slabo 27px";
}

.logo {
	font-size:8em;
	/*font-family: helvetica;*/
	/*color:#ddd;*/
}

.names {
	margin-left:3em;
	letter-spacing: 3em;
}


video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(polina.jpg) no-repeat;
	background-size: cover;
	opacity:0.3;
}


@media screen and (max-device-width: 800px) {
body { background: url(polina.jpg) #000 no-repeat center center fixed; }
#bgvid { display: none; }
}